<div class="form-wrapper">
  <form (ngSubmit)="onSubmit()" #timecapsuleForm="ngForm">
    <button
      type="button"
      class="btn btn-primary"
      (click)="formInfo(timecapsuleForm)"
    >
      Show Info
    </button>
    <div>
      <fieldset>
        <legend>Add a person to notify:</legend>

        <div class="form-input">
          <label for="fName">First name:</label>
          <input
            type="text"
            ngModel
            name="fName"
            id="fName"
            placeholder="John"
            #fNameRef="ngModel"
            required
          />
          <p *ngIf="!fNameRef.valid && fNameRef.touched">
            * Please enter a first name.
          </p>
        </div>

        <div class="form-input">
          <label for="lName">Last name:</label>
          <input
            type="text"
            ngModel
            name="lName"
            id="lName"
            placeholder="Smith"
            #lNameRef="ngModel"
            required
          />
          <p *ngIf="!lNameRef.valid && lNameRef.touched">
            * Please enter a last name.
          </p>
        </div>

        <div class="form-input">
          <label for="phone">Phone:</label>
          <input
            type="number"
            ngModel
            name="phone"
            id="phone"
            #phoneRef="ngModel"
          />
        </div>

        <div class="form-input">
          <label for="email">Email:</label>
          <input
            type="email"
            ngModel
            name="email"
            id="email"
            #emailRef="ngModel"
            required
            email
          />
          <p *ngIf="!emailRef.valid && emailRef.touched">
            * Please enter a valid email.
          </p>
        </div>

        <div>
          <fieldset>
            <legend>Address info:</legend>
            <div class="form-input">
              <label for="street">Street:</label>
              <input
                type="text"
                ngModel
                name="street"
                id="street"
                placeholder="123 Main Street"
                #streetRef="ngModel"
                required
              />
              <p *ngIf="!streetRef.valid && streetRef.touched">
                * Please enter a street address.
              </p>
            </div>

            <div class="form-input">
              <label for="apt">Apartment:</label>
              <input
                type="text"
                ngModel
                name="apt"
                id="apt"
                #aptRef="ngModel"
              />
            </div>

            <div class="form-input">
              <label for="city">City:</label>
              <input
                type="text"
                ngModel
                name="city"
                id="city"
                #cityRef="ngModel"
                required
              />
              <p *ngIf="!cityRef.valid && cityRef.touched">
                * Please enter a city.
              </p>
            </div>

            <div class="form-input">
              <label for="state">State:</label>
              <input
                type="text"
                ngModel
                name="state"
                id="state"
                #stateRef="ngModel"
                required
              />
              <p *ngIf="!stateRef.valid && stateRef.touched">
                * Please enter a state.
              </p>
            </div>

            <div class="form-input">
              <label for="zip">Zip:</label>
              <input
                type="number"
                ngModel
                name="zip"
                id="zip"
                #zipRef="ngModel"
                required
              />
              <p *ngIf="!zipRef.valid && zipRef.touched">
                * Please enter a zip code.
              </p>
            </div>
          </fieldset>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addPerson()"
          [disabled]="
            !(
              fNameRef.valid &&
              lNameRef.valid &&
              emailRef.valid &&
              stateRef.valid &&
              cityRef.valid &&
              stateRef.valid &&
              zipRef.valid
            )
          "
        >
          Add Person
        </button>
      </fieldset>
    </div>
    <div class="notifyPerson-wrapper">
      <div
        *ngFor="let notifyPerson of this.notifyPeople; index as i"
        class="notifyPerson-card"
      >
        <p>Name: {{ notifyPerson.firstName }} {{ notifyPerson.lastName }}</p>
        <p *ngIf="notifyPerson.phone">Phone: {{ notifyPerson.phone }}</p>
        <p>Email: {{ notifyPerson.email }}</p>
        <p>Address:</p>
        <div class="address">
          <p>Street: {{ notifyPerson.address.street }}</p>
          <p *ngIf="notifyPerson.address.apartment">
            Apt: {{ notifyPerson.address.apartment }}
          </p>
          <p>City: {{ notifyPerson.address.city }}</p>
          <p>State: {{ notifyPerson.address.state }}</p>
          <p>Zip: {{ notifyPerson.address.zipCode }}</p>
        </div>
        <button type="button" class="btn btn-danger" (click)="removePerson(i)">
          Remove
        </button>
      </div>
    </div>
    <div>
      <fieldset>
        <legend>Event details:</legend>
        <div class="form-input">
          <label>Title:</label>
          <input
            type="text"
            ngModel
            name="title"
            id="title"
            #titleRef="ngModel"
            required
          />
          <p *ngIf="!titleRef.valid && titleRef.touched">
            * Please enter a title.
          </p>
        </div>

        <div class="form-input">
          <label>Add description:</label>
          <br />
          <textarea
            ngModel
            name="desc"
            id="desc"
            #descRef="ngModel"
            required
            style="resize: none"
            rows="5"
            cols="40"
          ></textarea>
          <p *ngIf="!descRef.valid && descRef.touched">
            * Please enter a description.
          </p>
        </div>

        <div class="form-input">
          <label for="url">Add link:</label>
          <input type="text" ngModel name="url" id="url" #urlRef="ngModel" />
        </div>

        <div class="form-input">
          <label for="date">Set date and time:</label>
          <input
            type="datetime-local"
            ngModel
            name="date"
            id="date"
            #dateRef="ngModel"
            required
          />
          <p *ngIf="!dateRef.valid && dateRef.touched">
            * Please enter a date.
          </p>
        </div>
      </fieldset>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="
        !(titleRef.valid && descRef.valid && dateRef.valid) || !notifyPeople[0]
      "
    >
      Submit
    </button>
  </form>
</div>
