<!--added * too all required-->
<div class="bgImg">

<div class="form-wrapper">

  <form (ngSubmit)="onSubmit()" #timecapsuleForm="ngForm">
    <div>
      <fieldset>
        <legend class="headerOne">Add person to notify:</legend>



        <div class="form-input">
          <label for="fName" class="fontOne">First name *</label>
          <input
            class="flexOne"
            type="text"
            ngModel
            name="fName"
            id="fName"
            placeholder="John"
            #fNameRef
            required
          />
        </div>

        <div class="form-input">
          <label for="lName" class="fontOne">Last name * </label>
          <input
            class="flexOne"
            type="text"
            ngModel
            name="lName"
            id="lName"
            placeholder="Smith"
            #lNameRef
            required
          />
        </div>

        <div class="form-input">
          <label for="phone" class="fontOne">Phone</label>
          <input class="flexOne" type="number" ngModel name="phone" id="phone" #phoneRef />
        </div>

        <div class="form-input">
          <label for="email" class="fontOne">Email *</label>
          <input
          class="flexOne"
            type="email"
            ngModel
            name="email"
            id="email"
            #emailRef
            required
          />
        </div>




        <div>
          <fieldset>
            <legend class="headerOne">Address info:</legend>
            <div class="form-input">
              <label for="street" class="fontOne">Street *</label>
              <input
                class="flexOne"
                type="text"
                ngModel
                name="street"
                id="street"
                placeholder="123 Main Street"
                #streetRef
                required
              />
            </div>

            <div class="form-input">
              <label for="apt" class="fontOne">Apartment</label>
              <input class="flexOne" type="text" ngModel name="apt" id="apt" #aptRef />
            </div>

            <div class="form-input">
              <label for="city" class="fontOne">City *</label>
              <input
                class="flexOne"
                type="text"
                ngModel
                name="city"
                id="city"
                #cityRef
                required
              />
            </div>

            <div class="form-input">
              <label for="state" class="fontOne">State *</label>
              <input
                class="flexOne"
                type="text"
                ngModel
                name="state"
                id="state"
                #stateRef
                required
              />
            </div>

            <div class="form-input">
              <label for="zip" class="fontOne">Zip *</label>
              <input
              class="flexOne"
                type="number"
                ngModel
                name="zip"
                id="zip"
                #zipRef
                required
              />
            </div>
          </fieldset>
        </div>
        <button type="button" class="btn btn-primary flexOne" (click)="addPerson()">
          Add Person
        </button>


      </fieldset>
    </div>



    <div class="notifyPerson-wrapper">
      <div
        *ngFor="let notifyPerson of this.notifyPeople; index as i"
        class="notifyPerson-card boxShadow"
      >
        <p>Name: {{ notifyPerson.firstName }} {{ notifyPerson.lastName }}</p>
        <p *ngIf="notifyPerson.phone">Phone: {{ notifyPerson.phone }}</p>
        <p>Email: {{ notifyPerson.email }}</p>
        <p>Address:</p>
        <div class="address">
          <p>Street: {{ notifyPerson.address.street }}</p>
          <p *ngIf="notifyPerson.address.apartment">
            Apt: {{ notifyPerson.address.apartment }}
          </p>
          <p>City: {{ notifyPerson.address.city }}</p>
          <p>State: {{ notifyPerson.address.state }}</p>
          <p>Zip: {{ notifyPerson.address.zipCode }}</p>
        </div>
        <button type="button" class="btn btn-danger boxShadow" (click)="removePerson(i)">
          Remove
        </button>
      </div>
    </div>
    <div>
      <fieldset>
        <legend class="headerOne flexTwo">Event details:</legend>
        <div class="form-input">
          <label class="flexTwo">Title:</label>
          <input
          class="flexTwo boxShadow"
            type="text"
            ngModel
            name="title"
            id="title"
            #titleRef
            required
          />
        </div>

        <div class="form-input">
          <label class="flexTwo">Add description:</label>
          <br />
          <textarea
            class="flexTwo boxShadow"
            ngModel
            name="desc"
            id="desc"
            #descRef
            required
            style="resize: none"
            rows="5"
            cols="40"
          ></textarea>
        </div>

        <div class="form-input">
          <label for="url" class="flexTwo">Add link:</label>
          <input class="flexTwo boxShadow" type="text" ngModel name="url" id="url" #urlRef required />
        </div>

        <div class="form-input">
          <label for="date" class="flexTwo">Set date and time:</label>
          <input
            class="flexTwo boxShadow"
            type="datetime-local"
            ngModel
            name="date"
            id="date"
            #dateRef
            required
          />
        </div>
      </fieldset>
    </div>
    <button type="submit" class="btn btn-primary flexTwo boxShadow">Submit</button>
  </form>
</div>

</div>


