<div class="form-wrapper">
  <div class="bgImg">
    <button type="button" (click)="console()">Show Info</button>
  <form (ngSubmit)="onSubmit()" #timecapsuleForm="ngForm">

      <div *ngIf="showMsg">
        <p class="alert alert-success item1">
          <strong>Registration Success!</strong> Please click here to login!.
        </p>
      </div>
        <div class="container">
          <div class="row">

            <div class="col-sm-6">

        <legend class="headerOne">Add a person to notify:</legend>

        <div class="form-input">
          <label for="fName" class="fontOne">First name:</label>
          <input
            class="flexOne"
            type="text"
            ngModel
            [placeholder]="defaultFirstName"
            name="fName"
            id="fName"
            #fNameRef="ngModel"
            required
          />
          <p *ngIf="!fNameRef.valid && fNameRef.touched">
            * Please enter a first name.

        </div>

        <div class="form-input">
          <label for="lName" class="fontOne">Last name:</label>
          <input
            class="flexOne"
            type="text"
            ngModel
            name="lName"
            id="lName"
            [placeholder]="defaultLastName"
            #lNameRef="ngModel"
            required
          />
          <p *ngIf="!lNameRef.valid && lNameRef.touched">
            * Please enter a last name.
          </p>
        </div>

        <div class="form-input">
          <label for="phone" class="fontOne">Phone:</label>
          <input
            class="flexOne"
            type="number"
            ngModel
            [placeholder]="defaultPhone"
            name="phone"
            id="phone"
            #phoneRef="ngModel"
          />
        </div>

        <div class="form-input">
          <label for="email" class="fontOne">Email:</label>
          <input
            class="flexOne"
            type="email"
            ngModel
            [placeholder]="defaultEmail"
            name="email"
            id="email"
            #emailRef="ngModel"
            required
            email
          />
          <p *ngIf="!emailRef.valid && emailRef.touched">
            * Please enter a valid email.
          </p>
        </div>
      </div>
            <div class="col-sm-6">

            <legend class="headerOne">Address info:</legend>
            <div class="form-input">
              <label for="street" class="fontOne">Street:</label>
              <input
                class="flexOne"
                type="text"
                ngModel
                [placeholder]="defaultStreet"
                name="street"
                id="street"
                #streetRef="ngModel"
                required
              />
              <p *ngIf="!streetRef.valid && streetRef.touched">
                * Please enter a street address.
              </p>
            </div>

            <div class="form-input">
              <label for="apt" class="fontOne">Apartment:</label>
              <input
                class="flexOne"
                type="text"
                ngModel
                [placeholder]="defaultApt"
                name="apt"
                id="apt"
                #aptRef="ngModel"
              />
            </div>

            <div class="form-input">
              <label for="city" class="fontOne">City:</label>
              <input
                class="flexOne"
                type="text"
                ngModel
                [placeholder]="defaultCity"
                name="city"
                id="city"
                #cityRef="ngModel"
                required
              />
              <p *ngIf="!cityRef.valid && cityRef.touched">
                * Please enter a city.
              </p>
            </div>

            <div class="form-input">
              <label for="state" class="fontOne">State:</label>
              <input
                class="flexOne"
                type="text"
                ngModel
                [placeholder]="defaultState"
                name="state"
                id="state"
                #stateRef="ngModel"
                required
              />
              <p *ngIf="!stateRef.valid && stateRef.touched">
                * Please enter a state.
              </p>
            </div>

            <div class="form-input">
              <label for="zip" class="fontOne">Zip:</label>
              <input
                class="flexOne"
                type="number"
                ngModel
                [placeholder]="defaultZip"
                name="zip"
                id="zip"
                #zipRef="ngModel"
                required
              />
              <p *ngIf="!zipRef.valid && zipRef.touched">
                * Please enter a zip code.
              </p>
            </div>


        <button
          type="button"
          class="btn btn-primary flexOne boxShadow"
          (click)="addPerson()"
          [disabled]="
            !(
              fNameRef.valid &&
              fNameRef.touched &&
              lNameRef.valid &&
              lNameRef.touched &&
              emailRef.valid &&
              emailRef.touched &&
              stateRef.valid &&
              stateRef.touched &&
              cityRef.valid &&
              cityRef.touched &&
              stateRef.valid &&
              stateRef.touched &&
              zipRef.valid &&
              zipRef.touched
            )
          "
        >
          Add Person
        </button>
      </div>
      </div>
      </div>

    <div class="container">
    <div class="row">

      <div class="col-xl-3">

    <div class="notifyPerson-wrapper">
      <div
        *ngFor="let notifyPerson of this.notifyPeople; index as i"
        class="notifyPerson-card boxShadow"
      >
        <p>Name: {{ notifyPerson.firstName }} {{ notifyPerson.lastName }}</p>
        <p *ngIf="notifyPerson.phone">Phone: {{ notifyPerson.phone }}</p>
        <p>Email: {{ notifyPerson.email }}</p>
        <p>Address:</p>
        <div class="address">
          <p>Street: {{ notifyPerson.address.street }}</p>
          <p *ngIf="notifyPerson.address.apartment">
            Apt: {{ notifyPerson.address.apartment }}
          </p>
          <p>City: {{ notifyPerson.address.city }}</p>
          <p>State: {{ notifyPerson.address.state }}</p>
          <p>Zip: {{ notifyPerson.address.zipCode }}</p>
        </div>
        <button type="button" class="btn btn-danger" (click)="removePerson(i)">
          Remove
        </button>
      </div>
    </div>

  </div>
      <div class="col-xl-3">
        <legend class="headerOne flexTwo">Event details:</legend>
        <div class="form-input">
          <label class="flexTwo fontOne">Title:</label>
          <input
            class="flexTwo boxShadow"
            type="text"
            ngModel
            [placeholder]="defaultTitle"
            name="title"
            id="title"
            #titleRef="ngModel"
            required
          />
          <p *ngIf="!titleRef.valid && titleRef.touched">
            * Please enter a title.
          </p>
        </div>

        <div class="form-input">
          <label class="flexTwo fontOne
          ">Add description:</label>
          <br />
          <textarea
            class="flexTwo boxShadow"
            ngModel
            [placeholder]="defaultDesc"
            name="desc"
            id="desc"
            #descRef="ngModel"
            required
            style="resize: none"
            rows="5"
            cols="40"
          ></textarea>
          <p *ngIf="!descRef.valid && descRef.touched">
            * Please enter a description.
          </p>
        </div>
      </div>
        <div class="col-xl-3">
        <div class="form-input">
          <label for="url" class="flexTwo fontOne">Add link:</label>
          <input
            class="flexTwo boxShadow"
            type="text"
            ngModel
            placeholder="urls"
            name="url"
            id="url"
            #urlRef="ngModel"
          />
        </div>

        <div class="form-input">
          <label for="fileUpload" class="flexTwo fontOne">Upload Image:</label>
          <input
            class="flexTwo boxShadow"
            type="fileUpload"
            ngModel
            placeholder="fileUpload"
            name="fileUpload"
            id="fileUpload"
            #fileUploadRef="ngModel"
            (change)="selectFile($event)"
          />
        </div>
        <button type="button" [disabled]="!selectedFiles" (click)="upload()">
          Upload
        </button>
      </div>


      <div class="col-xl-3">
        <div class="form-input">
          <label for="date" class="flexTwo fontOne">Set date:</label>
          <input
            class="flexTwo boxShadow"
            type="date"
            [ngModel]="this.getYearFromNow()"
            name="date"
            id="date"
            #dateRef="ngModel"
            required
          />

          <div>
            <label for="time" class="fontOne">Set time:</label>
            <input
            class="flexOne"
              type="time"
              [ngModel]="defaultTime"
              name="time"
              id="time"
              #timeRef="ngModel"
            />
          </div>

          <div class="form-input">
            <label for="email" class="fontOne">Email:</label>
            <input
              class="flexOne"
              type="email"
              ngModel
              [placeholder]="defaultEmail"
              name="email"
              id="email"
              #emailRef="ngModel"
              required
              email
            />
            <p *ngIf="!emailRef.valid && emailRef.touched">
              * Please enter a valid email.
            </p>
          </div>
      </div>


    <button
      type="submit"
      class="btn btn-primary flexTwo boxShadow"
      [disabled]="
        !(
          titleRef.valid &&
          titleRef.touched &&
          descRef.valid &&
          descRef.touched &&
          dateRef.valid &&
          timeRef.valid
        ) || !notifyPeople[0]
      "
    >
      Submit
    </button>
  </div>
  </div>
  </div>

    </form>
  </div>

</div>

