<br />

<div class="timecapsule-wrapper">
  <div *ngIf="this.isLoading && !this.error">
    <p>Loading...</p>
  </div>
  <div *ngIf="this.error">
    <p>An Error has occured!</p>
    <p>{{ error }}</p>
  </div>
  <div class="timecapsule">
    <div class="eventDetails">
      <h2>Title: {{ timecapsule.title }}</h2>
      <p>Description: {{ timecapsule.desc }}</p>

      <p [ngClass]="this.isTime ? 'done' : 'countdown'"> Opens In: {{ countdown }} </p>
      <hr />



      <!-- * BG: Two images and second one is clickable and takes you to the timecapsule page by title of capsule-->
      <img *ngIf="!this.isTime"
        class="img-fluid"
        src="assets/images/generic_chest.png"
        alt="image placeholder"
      />

      <a *ngIf="this.isTime"  routerLink="/view-capsule/{{timecapsule.uuid}}">
      <img
        class="img-fluid"
        src="assets/images/genric_chest_open.png"
        alt="image placeholder"
      />
    </a>
    <!-- * ================================================================ * -->


      <br />
    </div>
    <div class="notifyPeople"></div>
    <button
      class="btn btn-danger"
      type="button"
      (click)="this.deleteTimecapsule()"
    >
      Delete
    </button>
  </div>
</div>

<br />
