<!-- ? Blake's Changes -->
<!-- * These were additions to the HTML for styling * -->
<!-- ! ANYTHING DIVS WITH COL, ROW, AND CONTAINER IS THE BOOTSTRAP I ADDED ! -->
<!-- ! ADDED <br> IS THERE TO ADD BREAKS BETWEEN THE CONTENT ! -->
<!-- ! ADDED <hr> IS THERE TO ADD LINES BETWEEN SPECIFIC CONTENT ! -->
<!-- * -=========================================== * -->

<div class="container">
  <div class="bgImg">
    <br />
    <br />

    <div class="row">
      <div class="col-md-12">
        <!-- ? BG: Added a title box and picture to top the page -->
        <h1 class="appTitle">Your Timecapsules!</h1>
      </div>
    </div>

    <br />

    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <h2 class="aboutApp">
          Here is the look of your memories you stored and when they will be
          opened for you to see again!
        </h2>
        <br />
        <br />
      </div>
    </div>
  </div>
  <!-- ? ============================================= -->

  <div class="row">
    <!-- ? BG: Changed to *ngFor to allow the timecapsules to line up in even rows -->
    <div
      class="col-md-6" *ngFor="
      let timecapsule of this.timecapsuleService.loadedTimecapsules;
      index as i"
    >
    <app-timecapsule-item
    [timecapsule]="timecapsule" [i]="i" ></app-timecapsule-item>
    </div>
  </div>
</div>
