<div class="container">
  <div class="row">
    <h1>Your Timecapsules!</h1>
    <div class="col-md-6" *ngFor="let timecapsule of this.timecapsuleService.loadedTimecapsules">

      <br>

<div class="timecapsule-wrapper">
  <div
    class="timecapsule"

  >
    <div class="eventDetails">
      <h2>Title: {{ timecapsule.title }}</h2>
      <p>Desc: {{ timecapsule.desc }}</p>
      <p>Days until open:</p>
      <hr>
      <img class="img-fluid"
        src="assets/images/placeholder-256x256.gif"
        alt="image placeholder"
      />
      <br>

    </div>
    <div class="notifyPeople"></div>
    <button class="btn btn-danger" type="button">Delete</button>
  </div>
</div>


<br>

</div>
</div>
</div>
