<!--App Title-->
<!--Needs style, maybe custom app Logo?-->
<h1 class="appTitle">Memory Box</h1>

<div>
  <h2 class="aboutApp">
    <!--Here at Memory Box it is our joy to help you save speical moments, and lock them away to veiw and remember at another later date.-->
    about app
  </h2>
</div>

<!--divs for landing page cards-->
<div>

    <!--possible idea, html link to example photos for (wedding/vacation/birthday)?-->

    <!--Wedding Card-->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <!--A time capsule can be an amazing way to store those moments you never want to lose, and your wedding is a day you want always remember. With Memory Box you can stow away those precious times and have them ready to be viewed again for that anniversary.-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>



    <!--Vacation card-->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <!--Whether you travel with friends or family, We all instances when on vacation we will always cherish, think of using this app to when you gather agian those times spent together are safe and here for you-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>



    <!--Birthday-->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <!--This can be such a fantasic way to keep those birthdays of family, friends and of course your children. Be it video, pictures, note and cards given or say a song you never want to forget we will have them ready-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>


</div>


