<!--App Title-->
<!--Needs style, maybe custom app Logo?-->
<h1 class="appTitle">Memory Box</h1>

<div>
  <h2 class="aboutApp">
    <!--Here at Memory Box it is our joy to help you save speical moments, and lock them away to veiw and remember at another later date.-->
    about app
  </h2>
</div>

<!--divs for landing page cards-->
<div>

    <!--possible idea, html link to example photos for (wedding/vacation/birthday)?-->

    <!--Wedding Card-->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <!---->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>



    <!--Vacation card-->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <!---->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>



    <!--Birthday-->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <!---->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>


</div>
