<!--App Title-->
<!--Needs style, maybe custom app Logo?-->

  <!--? BG: Added Bootstrap container and rows-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
<h1 class="appTitle">Memory Box</h1>
</div>
</div>


<div class="row">
  <div class="col-md-12">
 <h2 class="aboutApp">
    <!--Here at Memory Box it is our joy to help you save speical moments, and lock them away to veiw and remember at another later date.-->
    about app
  </h2>
</div>
</div>


<!--divs for landing page cards-->
<div class="row">


    <!--Wedding Card-->
    <!--possible idea, html link to example photos for (wedding/vacation/birthday)?-->
    <div class="col-md-4">

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

  </div>



    <!--Vacation card-->
    <div class="col-md-4">

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    </div>



    <!--Birthday-->
    <div class="col-md-4">

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    </div>


</div>


</div>
