<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-4">
	<a class="navbar-brand brand" id="brand">Memory Box</a>

	<div
		class="navbar-collapse collapse"
	>
		<ul class="navbar-nav mt-lg-0 mr-auto mt-2">
			<li class="nav-item">
				<a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/" routerLinkActive="active">Creating Capsules</a>
			</li>
      <li class="nav-item">
				<a class="nav-link" routerLink="/" routerLinkActive="active">Current Capsules</a>
			</li>
      <li class="nav-item">
				<a class="nav-link" routerLink="/" routerLinkActive="active">Opening Capsules</a>
			</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Authentication</a>
      </li>
		</ul>
	</div>
</nav>
